/**
 * util
 */
.xeditor-pop-wrapper {
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 0px 2px 0px #ccd0d7;
    display: none;
}
.xeditor-pop-wrapper:before {
    content: '';
    position: absolute;
    top: -8px;
    left: 7px;
    width: 16px;
    height: 8px;
    background: url(./icons/icon-all.png) no-repeat -50px -83px;
}
.xeditor-pop-close {
    position: absolute;
    top: 10px;
    right: 6px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: url(./icons/icon-all.png) no-repeat -50px -10px;
}
.xeditor-pop-close:hover {
    background-position: -50px -30px;
}
.xeditor-pop-tabs {
    height: 40px;
    border-bottom: 1px solid #ccc;
}
.xeditor-pop-tabs a {
    display: inline-block;
    line-height: 40px;
    font-size: 14px;
    color: #555;
    padding: 0 12px;
    text-decoration: none;
}
.xeditor-pop-tabs a:hover,
.xeditor-pop-tabs a.active {
    color: #00a1d6;
    border-bottom: 1px solid #00a1d6;
}
.xeditor-clear {
    height: 1px;
    overflow: hidden;
    font-size: 0;
    clear: both;
}
.xeditor-btn {
    display: inline-block;
    padding: 4px 0;
    width: 80px;
    text-align: center;
    font-size: 14px;
    background-color: #fff;
    color: #6e6e6e;
    cursor: pointer;
    border: 1px solid #dadada;
    border-radius: 2px;
}
.xeditor-btn-primary {
    color: #fff;
    background-color: #00a1d6;
    border-color: #00a1d6;
}
.xeditor-pop-footer {
    padding: 8px 10px 8px 10px;
    text-align: right;
}
.xeditor-inputtext-wrapper {
    margin-top: 10px;
    padding: 0 8px;
    border: 1px solid #e7eaf1;
    border-radius: 3px;
    transition: border-color .2s linear;
}
.xeditor-inputtext-wrapper.active {
    border-color: #00a1d6;
}
.xeditor-inputtext-wrapper input[type="text"] {
    display: inline-block;
    height: 28px;
    width: 100%;
    border: 0;
    outline: none;
}


/**
 * main
 */
.xeditor-wrapper {
    border-bottom: 1px solid #e7eaf1;
}
.xeditor-widgets-wrapper {
    position: relative;
    padding: 5px 0;
    background-color: #fff;
    border-top: 1px solid #e7eaf1;
    border-bottom: 1px solid #e7eaf1;
}
.xeditor-widgets-separator {
    display: inline-block;
    height: 30px;
    width: 1px;
    margin: 0 5px;
    vertical-align: top;
    background-color: #e7eaf1;
}
.xeditor-widgets-item {}
.xeditor-content-wrapper {}
.xeditor-content-root {
    padding: 12px 20px;
    outline: none;
    overflow: auto;
}
.xeditor-wrapper h1,
.xeditor-wrapper h2,
.xeditor-wrapper h3,
.xeditor-wrapper h4,
.xeditor-wrapper h5,
.xeditor-wrapper h6,
.xeditor-wrapper p {
    margin: 0;
    padding: 0;
}


/**
 * icons
 */
.xeditor-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    background-image: url(./icons/icon-all.png);
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    vertical-align: top;
    outline: none;
    transition: background-color .2s linear;
}
.xeditor-icon:hover,
.xeditor-icon.active {
    background-color: #ebebeb;
}
.xeditor-icon-bold {
    background-position: 10px 8px;
}
.xeditor-icon-font {
    background-position: 8px -237px;
}
.xeditor-icon-emotion {
    background-position: 5px -163px;
}
.xeditor-icon-link {
    background-position: 5px -516px;
}
.xeditor-icon-image {
    background-position: 6px -120px;
}
.xeditor-icon-blockquote {
    background-position: 7px -354px;
}
.xeditor-icon-italic {
    background-position: 10px -276px;
}
.xeditor-icon-align {
    background-position: 8px -455px;
}
.xeditor-icon-separator {
    background-position: 6px -388px;
}
.xeditor-icon-code {
    background-position: 6px -589px;
}


/* emotion */
.xeditor-emotion-wrapper {
    width: 400px;
}
.xeditor-emotion-content {
    padding: 16px 5px;
}
.xeditor-emotion-item {
    display: inline-block;
    padding: 3px 5px;
    margin: 5px 3px;
    color: #111;
    text-decoration: none;
    transition: background-color .2s linear;
    border-radius: 4px;
}
.xeditor-emotion-item:hover {
    background-color: #ddd;
}


/**
 * font
 */
.xeditor-font-wrapper {
    width: 100px;
    padding: 5px 0;
    text-align: center;
}
.xeditor-font-wrapper h1,
.xeditor-font-wrapper h2,
.xeditor-font-wrapper p {
    font-size: 16px;
    line-height: 32px;
    cursor: pointer;
    font-weight: normal;
}
.xeditor-font-wrapper h1:hover,
.xeditor-font-wrapper h1.active,
.xeditor-font-wrapper h2:hover,
.xeditor-font-wrapper h2.active,
.xeditor-font-wrapper p:hover {
    background-color: #eee;
}


/* image */
.xeditor-uploadimage-wrapper {
    width: 400px;
}
.xeditor-dialog-tabs a {
    display: inline-block;
    line-height: 40px;
    padding: 0 10px;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    border-bottom: 1px solid #fff;
}
.xeditor-dialog-tabs a.active {
    border-bottom-color: #00a1d6;
}
.xeditor-uploadimage-content {}
.xeditor-uploadimage-content-local {
    height: 132px;
    overflow: hidden;
}
.xeditor-uploadimage-content-remote {
    margin: 0 20px;
}
.xeditor-uploadimage-remote-preview {
    margin-top: 10px;
    max-height: 300px;
    text-align: center;
    overflow: auto;
}
.xeditor-uploadimage-remote-preview img {
    max-width: 100%;
}
.xeditor-uploadimage-imageitem {
    position: relative;
    width: 120px;
    height: 120px;
    float: left;
    margin: 10px 0 0 10px;
    background-color: #eee;
    overflow: hidden;
}
.xeditor-uploadimage-imageitem img {
    width: 120px;
}
.xeditor-uploadimage-imageitem:hover .xeditor-uploadimage-delete {
    display: inline-block;
    background-color: #00a1d6;
    color: #fff;
}
.xeditor-uploadimage-progress {
    position: absolute;
    left: 10px;
    top: 60px;
    display: block;
    height: 6px;
    width: 100px;
    overflow: hidden;
    border: 1px solid #00a1d6;
    border-radius: 2px;
}
.xeditor-uploadimage-percent {
    position: absolute;
    display: block;
    height: 100%;
    width: 1%;
    background-color: #00a1d6;
}
.xeditor-uploadimage-delete {
    position: absolute;
    top: 0px;
    right: 0px;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    color: #111;
    font-size: 20px;
    text-decoration: none;
    display: none;
}
.xeditor-uploadimage-uploadbtn {
    width: 116px;
    height: 116px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    background: url(./icons/upload.png) no-repeat center center;
    border: 2px dashed #b3b3b3;
}
.xeditor-uploadimage-uploadbtn:hover {
    border-color: #00a1d6;
}
.xeditor-uploadimage-input {
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}
.xeditor-dialog-footer {
    margin: 10px;
    text-align: right;
}








