/**
 * util
 */
.xeditor-clear {
    height: 1px;
    overflow: hidden;
    font-size: 0;
    clear: both;
}
.xeditor-btn {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    padding: 0 15px;
    color: #7fbbe2;
    text-align: center;
    font-size: 12px;
    margin-left: 10px;
    border: 1px solid #7fbbe2;
    cursor: pointer;
    border-radius: 5px;
}
.xeditor-btn.active {
    color: #fff;
    background-color: #7fbbe2;
}


/**
 * form item
 */
.xeditor-form-item {
    margin-top: 10px;
    border: 1px solid #e7eaf1;
    border-radius: 3px;
    transition: border-color .2s linear;
}
.xeditor-form-item.active {
    border-color: #00a1d6;
}
.xeditor-form-item input[type="text"] {
    display: inline-block;
    box-sizing: border-box;
    height: 28px;
    width: 100%;
    padding: 0 8px;
    border: 0;
    outline: none;
}

/**
 * tabs
 */
.xeditor-tabs a {
    display: inline-block;
    line-height: 36px;
    padding: 0 10px;
    color: #999;
    text-decoration: none;
    font-size: 14px;
    border-bottom: 1px solid #fff;
}
.xeditor-tabs a.active {
    color: #7fbbe2;
    border-bottom-color: #7fbbe2;
}


/**
 * pop dialog
 */
.xeditor-pop-wrapper {
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 0px 2px 0px #ccd0d7;
    display: none;
}
.xeditor-pop-wrapper:before {
    content: '';
    position: absolute;
    top: -8px;
    left: 7px;
    width: 16px;
    height: 8px;
    background: url(./icons/icon-all.png) no-repeat -50px -83px;
}
.xeditor-pop-close {
    position: absolute;
    top: 10px;
    right: 6px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: url(./icons/icon-all.png) no-repeat -50px -10px;
}
.xeditor-pop-close:hover {
    background-position: -50px -30px;
}
.xeditor-pop-content {}


/**
 * modal dialog
 */
.xeditor-modal-mask {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
}
.xeditor-modal-wrapper {
    position: relative;
    width: 320px;
    background-color: #fff;
    border-radius: 5px;
}
.xeditor-modal-close {
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    width: 22px;
    height: 22px;
    cursor: pointer;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
}
.xeditor-modal-header {
    height: 32px;
    line-height: 32px;
    padding: 10px 10px;
    font-size: 16px;
}
.xeditor-modal-footer {
    padding: 10px 10px;
    text-align: right;
}


/**
 * main editor
 */
.xeditor-wrapper {
    border-bottom: 1px solid #e7eaf1;
}
.xeditor-widgets-wrapper {
    position: relative;
    padding: 5px 0;
    background-color: #fff;
    border-top: 1px solid #e7eaf1;
    border-bottom: 1px solid #e7eaf1;
}
.xeditor-widgets-separator {
    display: inline-block;
    height: 30px;
    width: 1px;
    margin: 0 5px;
    vertical-align: top;
    background-color: #e7eaf1;
}
.xeditor-widgets-item {}
.xeditor-content-wrapper {}
.xeditor-content-root {
    padding: 12px 20px;
    outline: none;
    overflow: auto;
}
.xeditor-wrapper h1,
.xeditor-wrapper h2,
.xeditor-wrapper h3,
.xeditor-wrapper h4,
.xeditor-wrapper h5,
.xeditor-wrapper h6,
.xeditor-wrapper p {
    margin: 0;
    padding: 0;
}


/**
 * icons
 */
.xeditor-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: 4px 4px;
    background-size: 22px 22px;
    border: 0;
    vertical-align: top;
    outline: none;
    transition: background-color .2s linear;
    border-radius: 4px;
}
.xeditor-icon:hover,
.xeditor-icon.active {
    background-color: #ebebeb;
}
.xeditor-icon-bold {
    background-image: url(./icons/bold.png);
}
.xeditor-icon-font {
    background-image: url(./icons/font.png);
}
.xeditor-icon-emotion {
    background-image: url(./icons/emotion.png);
}
.xeditor-icon-link {
    background-image: url(./icons/link.png);
}
.xeditor-icon-image {
    background-image: url(./icons/image.png);
}
.xeditor-icon-blockquote {
    background-image: url(./icons/quote.png);
}
.xeditor-icon-separator {
    background-position: 6px -388px;
}


/**
 * emotion
 */
.xeditor-emotion-wrapper {
    width: 400px;
}
.xeditor-emotion-content {
    padding: 16px 5px;
}
.xeditor-emotion-item {
    display: inline-block;
    padding: 3px 5px;
    margin: 5px 3px;
    color: #111;
    text-decoration: none;
    transition: background-color .2s linear;
    border-radius: 4px;
}
.xeditor-emotion-item:hover {
    background-color: #ddd;
}


/**
 * font
 */
.xeditor-font-wrapper {
    width: 100px;
    padding: 5px 0;
    text-align: center;
}
.xeditor-font-wrapper h1,
.xeditor-font-wrapper h2,
.xeditor-font-wrapper p {
    font-size: 16px;
    line-height: 32px;
    cursor: pointer;
    font-weight: normal;
}
.xeditor-font-wrapper h1:hover,
.xeditor-font-wrapper h1.active,
.xeditor-font-wrapper h2:hover,
.xeditor-font-wrapper h2.active,
.xeditor-font-wrapper p:hover {
    background-color: #eee;
}


/* image */
.xeditor-uploadimage-wrapper {}
.xeditor-uploadimage-content {}
.xeditor-uploadimage-content-local {
    height: 150px;
    margin-top: 10px;
    overflow: hidden;
}
.xeditor-uploadimage-content-remote {
    margin: 0 20px;
}
.xeditor-uploadimage-remote-preview {
    margin-top: 10px;
    max-height: 300px;
    text-align: center;
    overflow: auto;
}
.xeditor-uploadimage-remote-preview img {
    max-width: 100%;
}
.xeditor-uploadimage-imageitem {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background-color: #eee;
    overflow: hidden;
}
.xeditor-uploadimage-imageitem img {
    max-width: 100%;
}
.xeditor-uploadimage-imageitem:hover .xeditor-uploadimage-delete {
    display: inline-block;
    background-color: #00a1d6;
    color: #fff;
}
.xeditor-uploadimage-progress {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    height: 6px;
    width: 100px;
    margin-left: -50px;
    overflow: hidden;
    border: 1px solid #00a1d6;
    border-radius: 2px;
}
.xeditor-uploadimage-percent {
    position: absolute;
    display: block;
    height: 100%;
    width: 1%;
    background-color: #00a1d6;
}
.xeditor-uploadimage-delete {
    position: absolute;
    top: 0px;
    right: 0px;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    color: #111;
    font-size: 20px;
    text-decoration: none;
    display: none;
}
.xeditor-uploadimage-uploadbtn {
    height: 146px;
    margin-right: 20px;
    margin-left: 20px;
    background: url(./icons/upload.png) no-repeat center center;
    border: 2px dashed #b3b3b3;
    border-radius: 5px;
}
.xeditor-uploadimage-uploadbtn:hover {
    border-color: #00a1d6;
}
.xeditor-uploadimage-input {
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}








